.login {
  height: 100vh;
  width: 100%;
  /* background: url(../images/login_wallpaper.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

.login_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.login_heading {
  font-size: 650%;
  text-decoration-color: black;
  /* font-weight: 900; */
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 251);
  padding-bottom: 3.5%;
}

.login_page{
  padding-right: 60%;
  padding-top: 10%;
}

.head{
  color: rgb(77, 156, 247);
}

.signup_page{
  padding-right: 60%;
  /* padding-top: 0.5%; */
}

.textbox{
  /* border-radius: 3%; */
  height: 35px;
  width: 30%;
  border-width: 0px;
}

::placeholder{
  margin-left: 20px;
}

.add_form {
  padding-left: 5%;
  overflow-y: hidden;
}

.add_row {
  display: flex;
  /* justify-content: space-between; */
  /* padding-right: 50%; */
  flex-wrap: wrap;
  align-items: center;
  padding-top: 3%;
}

.add_name {
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: #070f14;
}

.add_input {
  padding-left: 3%;
}

.add_button {
  cursor: pointer;
  margin-top: 2%;
  background-color: hsl(209, 87%, 65%);
  border-radius: 0.4rem;
  border-color: black;
  font-size: 110%;
  height: 4%;
}
