.home {
  padding-left: 2%;
  /* color: black; */
  background-color: rgb(202, 235, 247);
}

.genre {
  margin-top: 3%;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.cards {
  /* display: inline; */
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-right: 10px;
}

.cards::-webkit-scrollbar{
  display:none;
}

.heading {
  color: black;
}

.single_card{
  padding-right: 10px;
}
