.home {
  padding-left: 2%;
  /* color: black; */
  /* background-color: rgb(202, 235, 247); */
}
.background_home {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(182, 218, 233);
  /* background: url(../../images/add_back.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-blend-mode: unset; */
  overflow-y: hidden;
}
.genre {
  margin-top: 3%;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.cards {
  /* display: inline; */
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-right: 10px;
}

.cards::-webkit-scrollbar{
  display:none;
}

.heading {
  color: black;
}

.single_card{
  padding-right: 10px;
}
